$main-color: #7FD1B9;
$darker-main-color: #5AC4A4;
$second-color: #00C49A;
$third-color: #F8E16C;
$fourth-color: #FFC2B4;
$fifth-color: #FB8F67;
$default-border-radius: 8px;
$default-opacity: 0.7;
$first-box-width: 1.4rem;
$first-box-height: 1.4rem;
