@import 'base';

body,
html {
  margin: unset;
  width: 100vw;
  height: 100vh;
  font-family: $default-font !important;
  background: white !important;
}
.categoryPage__background{
  background: $main-color;
  width: 100vw;
  height: 35rem;
  position: fixed;
  left: 0%;
  top: -28%;

}
.categoryPage__background__bottom{
  background: white;
  border-radius: 33px;
  padding: 1rem 0.2rem;
  margin: 4rem 0;
  top: 30%;
  position: relative;
  width: 100vw;
  margin: 5rem 0 2rem 0;
}
.categoriesPage__background{
  background: $main-color;
  border-radius: 225px;
  transform: rotate(286deg);
  width: 100vw;
  height: 41rem;
  position: fixed;
  left: 0%;
  top: -28%;
}
.button-small{
  border-radius: $default-border-radius;
  border: none;
  color: black !important;
  box-shadow: 4px 9px 15px 0 rgb(0 0 0 / 12%);
  padding: 12px;
  margin: 0.5rem;
  width: 9rem;
  height: 3rem;
}

.newFlashcard-btn,
.add-btn{
  background: $third-color !important;
}
.start-btn{
  background: #FFC2B4;
}

.logoutPage{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  background: $second-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 190px;
  width: 192px;
  border-radius: 95px;
  opacity: 0.65;
  margin: 0 auto 4rem auto;
  box-shadow: 7px 10px 5px 0 rgb(0 0 0 / 12%);

  img{
    height: 100px;
    width: 97px;
  }
  p{
    font-size: 16px;
  }
}

.button,
.form-btn{
  border-radius: $default-border-radius;
  width: 382px;
  height: 77px;
  font-size: 22px;
  border: none;
  color: black !important;
  box-shadow: 4px 9px 15px 0 rgb(0 0 0 / 12%);
  margin: 1rem 0 1rem 0 !important;
  a{
    text-decoration: none;
    color: black;
  }
}
.login-btn{
  background: $third-color !important;
  margin: 6rem auto 2rem auto;
  color: white;
}
.register-btn{
  margin-top: 1rem !important;
  background: $fifth-color !important;
}

.formInput{
  border: 4px solid $third-color;
  color: white;
}
.loginPage,
.registerPage{
  height: 35rem;
  background: white;
  border: 4px solid $third-color;
  border-radius: 8px;
  margin: 38px 21px;
  color: black;
  padding: 11px 10px;
  a{
    text-decoration: none;
    margin-top: 1rem;
    color: black;
  }
}

.registerPage{
  border: 4px solid $fifth-color;
}

.nav-btn{
  position: absolute;
  top: 0;
  margin: 10px;
  padding: 7px 10px;
  border: none;
  background: $darker-main-color;
  border-radius: $default-border-radius;
  img{
    width: 1.2rem;
    height: 1.2rem;
  }
}
.logout-btn{
  right: 2%;
}
.goBack-btn{
  left: 2%;
}

.flashcardsCategoriesPage,
.flashcardsCategoryPage{
  padding-bottom: 10rem;
  h1{
    color: white;
    position: relative;
    margin: 7rem 10px 2rem 21px;

  }
  h2{
    margin: 2rem 0.2rem 2rem 1rem;
    font-weight: normal;
    font-size: 21px;
  }
  h3{
    margin: 5rem 0.2rem 2rem 1rem;
    font-weight: normal;
    font-size: 18px;
  }
  .category-btn{
    box-shadow: 4px 9px 15px 0 rgb(38 55 50 / 27%);
    color: white;
    background: #5AC4A4;
    position: initial;
    height: 13rem;
    width: 34%;
    border-radius: $default-border-radius;
    padding: 1rem;
    margin: 1rem 1rem;
    text-decoration: none;
    .category-btn__name{
      font-size: 30px;
      text-align: center;
      margin-left: 0 !important;
    }
  }
  .cards{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 6%;
    img{
      height: 1.2rem;
      padding-right: 3px;
    }
  }
  .cards-big{
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 3rem;
      padding-right: 7px;
    }
  }
}

.flashcard-preview{
  width: 12rem;
  height: 6rem;
  margin: 2rem 4px 1rem 15px;
  border: 3px solid $third-color;
  border-radius: $default-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  background: $third-color;
  box-shadow: 4px 9px 15px 0 #a99b5752;;
}

.footer{
  background-color: $fourth-color;
  opacity: $default-opacity;
  font-size: 11px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  p{
    margin: 0;
    text-align: left;
    padding: 1px 0 2px 4px;
    color: black;
  }
}

.flashcard{
  position: fixed;
  width: 80vw;
  height: 10rem;
  padding: 1rem;
  background: $third-color;
  border-radius: $default-border-radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: reverse;

  .flashcard-category{
    position: absolute;
    right: 3%;
    top: 7%;
    transform: translate(-3%, -7%);
  }
  .flashcard-question,
  .flashcard-answer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: left;
  }
  .flashcard-stage{
    padding: 0 1rem;
  }
  .flashcard-rotate-btn{
    padding: 0 1rem;
    border: none;
    background: none;
    img{
      width: 2rem;
      height: 1.5rem;
    }
  }
  .correct{
    fill: green;
    color: blue;
    -webkit-text-stroke: 2px white;
  }
}

.counter{
  font-size: 22px;
}

.end-btn{
  background: $fifth-color;
  position: fixed;
  bottom: 35%;
  left: 50%;
  margin-left: -72px;
}

.notification{
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -113.51px;
  color: $darker-main-color;
}

.next-btn,
.back-btn{
  position: absolute;
  margin: 10px;
  padding: 4px 5px;
  border: none;
  background: $darker-main-color;
  border-radius: $default-border-radius;
  img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.next-btn:disabled,
.back-btn:disabled{
  display: none;
}

.next-btn{
  right: 2%;
  img {
    transform: rotate(180deg);
  }
}
.back-btn{
  left: 2%;
}

@media(min-width: 40rem){
  .loginPage,
  .registerPage,
  .flashcardsCategoriesPage,
  .addNewFlashcard__container,
  .categoryPage__background__bottom{
    width: 34vw;
    margin: 55px auto;
  }
  .flashcardsCategoryPage{
    position: relative;
    width: 34vw;
    margin: 55px auto;
  }
  .categoryPage__background{
    width: 33vw;
    left: 50%;
    margin-left: -202.6px;
    border-radius: 12px;
  }
  .flashcard{
    width: 28vw;
    margin: -19rem auto;
  }
  .flashcard-preview{
    height: 8rem;
    width: 12rem;
    padding: 0.5rem 1rem;
  }
  .goBack-btn,
  .logout-btn{
    top: -10%;
  }
  .categoriesPage__background{
    width: 38vw;
    transform: rotate(0deg);
    height: 41rem;
    left: 33%;
    top: -32%;
  }
}