@import 'base';

body,
html {
  margin: unset;
  width: 100vw;
  height: 100vh;
  font-family: $default-font;
  background: white !important;
}

.button-small{
  border-radius: $default-border-radius;
  border: none;
  color: black !important;
  box-shadow: 4px 9px 15px 0px rgb(0 0 0 / 12%);
  padding: 12px;
  margin: 0.5rem;
}

.logoutPage{
  //background: $main-color !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  background: $second-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 190px;
  width: 192px;
  border-radius: 95px;
  opacity: 0.65;
  margin: 0 auto 4rem auto;
  box-shadow: 7px 10px 5px 0px rgb(0 0 0 / 12%);

  img{
    height: 100px;
    width: 97px;
  }
  p{
    font-size: 16px;
  }
}

.button,
.form-btn{
  border-radius: $default-border-radius;
  width: 382px;
  height: 77px;
  font-size: 22px;
  border: none;
  color: black !important;
  box-shadow: 4px 9px 15px 0px rgb(0 0 0 / 12%);
  margin: 2rem 0 1rem 0 !important;
  a{
    text-decoration: none;
    color: black;
  }
}
.login-btn{
  background: $third-color !important;
  margin: 6rem auto 2rem auto;
  color: white;
}
.register-btn{
  margin-top: 2rem !important;
  background: $fifth-color !important;
}

.formInput{
  border: 4px solid $third-color;
  color: white;
}
.loginPage,
.registerPage{
  background: white;
  border: 4px solid $third-color;
  border-radius: 8px;
  margin: 38px 21px;
  color: black;
  padding: 11px 10px;
  a{
    text-decoration: none;
    margin-top: 1rem;
    color: black;
  }
}

.registerPage{
  border: 4px solid $fifth-color;
}

.nav-btn{
  position: absolute;
  top: 0;
  margin: 10px;
  padding: 4px 5px;
  border: none;
  background: $second-color;
  border-radius: $default-border-radius;
  img{
    width: 1.2rem;
    height: 1.2rem;
  }
}
.logout-btn{
  right: 2%;
}
.goBack-btn{
  left: 2%;
}

.flashcardsCategoriesPage,
.flashcardsCategoryPage{
  padding-bottom: 10rem;
  h1{
    margin: 8rem 10px 2rem 10px;
  }
  h2{
    margin: 1rem 0.2rem;
  }
  .category-btn{
    position: initial;
    height: 11rem;
    width: 34%;
    border: 2px solid $second-color;
    border-radius: $default-border-radius;
    padding: 1rem;
    margin: 1rem 1rem;
    text-decoration: none;
    color: black;
    .category-btn__name{
      font-size: 30px;
    }
  }
  .cards{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 6%;
    img{
      height: 1.2rem;
      padding-right: 3px;
    }
  }
  .cards-big{
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 3rem;
      padding-right: 7px;
    }
  }
}

.flashcard-preview{
  width: 10rem;
  height: 6rem;
  margin: 2rem 4px 1rem 15px;
  border: 3px solid $third-color;
  border-radius: $default-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.footer{
  background-color: $fourth-color;
  opacity: $default-opacity;
  font-size: 11px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  p{
    margin: 0;
    text-align: left;
    padding: 1px 0 2px 4px;
    color: black;
  }
}

.flashcard{
  position: fixed;
  width: 80%;
  height: 10rem;
  padding: 1rem;
  background: $third-color;
  border-radius: $default-border-radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  .flashcard-category{
    position: absolute;
    right: 3%;
    top: 7%;
    transform: translate(-3%, -7%);
  }
  .flashcard-question,
  .flashcard-answer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: left;
  }
  .flashcard-stage{
    padding: 0 1rem;
  }
  .flashcard-rotate-btn{
    padding: 0 1rem;
    border: none;
    background: none;
    img{
      width: 2rem;
      height: 1.5rem;
    }
  }
  .correct{
    fill: green;
    color: blue;
    -webkit-text-stroke: 2px white;
  }
}

.end-btn{
  position: fixed;
  bottom: 35%;
  left: 50%;
  margin-left: -59.62px;
}

.notification{
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -94.42px;
}

.next-btn,
.back-btn{
  position: absolute;
  margin: 10px;
  padding: 4px 5px;
  border: none;
  background: $second-color;
  border-radius: $default-border-radius;
  img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.next-btn:disabled,
.back-btn:disabled{
  background:lightgray !important;
}

.next-btn{
  right: 8%;
  img {
    transform: rotate(180deg);
  }
}

.back-btn{
  left: 8%;
}

.box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  .box-first{
    width: $first-box-width;
    height: $first-box-height;
  }
  .box-second{
    width: $first-box-width * 2;
    height: $first-box-height * 2;
  }
  .box-third{
    width: $first-box-width * 3;
    height: $first-box-width * 3;
  }
  .box-fourth{
    width: $first-box-width * 4;
    height: $first-box-width * 4;
  }
  .box-fifth{
    width: $first-box-width * 5;
    height: $first-box-width * 5;
  }
  .cards{
    width: 3rem;
    position: absolute;
    bottom: 1%;
    right: 2%;
    p{
      position: absolute;
      bottom: 0%;
      left: 42%;
    }
  }
}