@import 'base';

.category-btn__container {
  display: flex;
  align-items: center;
  margin: -2rem auto;
}

.flashcard-preview__container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
}

.addNewFlashcard__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;

  h1 {
    color: $darker-main-color;
    margin: 5rem 10px 2rem 10px;
  }
}

.addNewFlashcard__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard__container {
  min-width: 17rem;
  height: 10rem;
  perspective: 600px;
  background-color: transparent;
}

.flashcard-bottom__container {
  width: 100%;
  position: absolute;
  bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flashcard-btn__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 9%;

  .flashcard-btn {
    border: none;
    background: none;

    img {
      width: 2rem;
      height: 2rem;
      opacity: $default-opacity;
    }
  }
}

.boxes__container {
  display: grid;
  background: $fifth-color;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40px 20px;
  grid-gap: 5px;
  padding: 9px 5px;
  align-items: center;
  text-align: center;
  margin: 1rem 1rem 6rem 1rem;
  border-radius: $default-border-radius;
  box-shadow: 4px 9px 15px 0px #eea392b8;
  width: 93%;
}